---
layout: default
permalink: /cards
redirect_from: /cards/
excerpt: andrewnotes blog - book reviews, life thoughts, and case studies of success
cover: /assets/images/covers/DSC_4838-DSC_4841c.jpg
---

<div class="teaserimage">
    <div class="teaserimage-image" {% if page.cover %}style="background-image: url({{ page.cover }})"{% elsif site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }})"{% endif %}>
        Teaser Image
    </div>
</div>

<header class="blog-header">
    {% if site.logo %}
      <a class="blog-logo" href="{{site.url}}" style="background-image: url('{% if site.author_image_m %}{{ site.author_image_m | prepend: site.baseurl }}{% else %}{{ site.author_image | prepend: site.baseurl }}{% endif %}')">{{ site.title }}</a>
    {% endif %}
    <h1 class="blog-title">{{ site.title }}</h1>
    <h2 class="blog-description">{{ site.description }}</h2>
    <section class="custom-links">
      {% include social.html %}
    </section>
</header>
<main role="main">
  <div class="cards-wrapper">
    {% for post in site.categories.blog %}
    <a href="{{ post.url | prepend: site.baseurl }}">
      <div class="card" data-id="{{ post.id }}">
        <div class="card__container card__container--closed">
          <svg class="card__image" preserveaspectratio="xMidYMid slice" viewbox="0 0 640 400" xmlns="http://www.w3.org/2000/svg">
            {% if post.image2 %}
            <image clip-path="url(#{{ post.id }}-clip-path)" height="480" width="640" xlink:href="{{ post.image2 | prepend: site.baseurl }}"></image>
            {% elsif post.image %}
            <image clip-path="url(#{{ post.id }}-clip-path)" height="480" width="640" xlink:href="{{ post.image | prepend: site.baseurl }}"></image>
            {% else %}
            <image clip-path="url(#{{ post.id }}-clip-path)" height="480" width="640" xlink:href="{{ post.image | prepend: site.baseurl }}"></image>
            {% endif %}
          </svg>
          <div class="card__content">
            <i class="card__btn-close fa fa-times"></i>
            <div class="card__caption">
              <h2 class="card__title">{{ post.title }}</h2>
              <p class="card__subtitle">{{ post.date | date: "%b %-m, %Y" }} {% for tag in post.tags limit:4 %}<span class="post-tag-{{slug}}" style="float: right;">{{ tag }}&nbsp;&nbsp;</span>{% endfor %}</p>
            </div>
          </div>
        </div>
      </div>
    </a>
    {% endfor %}
  </div><!-- /cards -->
  <br>
</main>
