---
layout: page
title: Want to get in touch?
permalink: /contact
redirect_from: /contact/
categories:
- blog
- project
- experience
---

{% capture mdcontent %}
Awesome! Send an email to [me @ andrewparadi.com](mailto:me@andrewparadi.com?subject=Hey%20Andrew!)

![](/assets/images/about-header.jpg)

Want to connect somewhere else?
---
{% endcapture %}
{{ mdcontent | markdownify }}

{% include social.html %}

{% capture mdcontent %}
Looking for a fullstack dev for your team?
---
I'm graduating from Computer Science at University of Waterloo in April 2018. I can't wait to get back to building great software with an ambitious team.

I have 4 years of experience solving problems with great code at [Atomic.vc](http://atomic.vc), startups [[1](/project/blitzen)][[2](/project/videostream)][[3](/project/teknically-webplio)], for [clients](#need-a-new-website), [side projects](/projects), & hackathons [[4](/project/resume-scoreboard)][[5](/project/losocco)][[6](/project/stockslate)].

If you're looking for a full stack dev who learns quickly, please [email me](mailto:me@andrewparadi.com?subject=Job%20Opportunity)!

P.S. Here are three recent projects & my [GitHub](https://github.com/andrewparadi) + [Devpost](https://devpost.com/andrewparadi)
{% for post in site.categories.featured-experience %}
  - [**{{ post.title }}**]({{ post.permalink }}) {{ post.excerpt }}
{% endfor %}
{% endcapture %}
{{ mdcontent | markdownify }}

{% capture mdcontent %}
Need a new website?
---
Interested in a better website or custom dev work? [Email me](mailto:me@andrewparadi.com?subject=I%20need%20a%20new%20website)!

I’ll work to understand your current frustrations, & goals for your website.<br/>My priorities for a client website are:
1. **Easy to edit** even if you don’t know HTML
1. **Mobile first design** especially important for local businesses
1. **Low cost monthly hosting** don’t spend more than you have to
1. **Search engine optimized** stay on Google's good side

**Past Clients**
{% for post in site.categories.featured-freelance %}
  - [**{{ post.title }}**]({{ post.permalink }}) {{ post.excerpt }}
{% endfor %}

Are you a startup founder?
---
I have experience developing successful competition & customer pitches, and in writing applications for government grants such as OCE SmartStart and SR&ED Credits. If you've got any questions or would like some coaching on an upcoming pitch, [send me an email](mailto:me@andrewparadi.com?subject=Pitch%20Coaching)!

If you're considering a Business Model Canvas Competition or applying to Y Combinator, my past [Teknically pitches](/project/teknically-webplio) or other startup experience may be helpful.
{% for post in site.categories.startup %}
  - [**{{ post.title }}**]({{ post.permalink }}) {{ post.startdate | date: site.date_format }} - {{ post.date | date: site.date_format }}
{% endfor %}
{% endcapture %}
{{ mdcontent | markdownify }}
