---
title: "We're Getting Married!"
permalink: /wedding/invite
redirect_from:
- /wedding/invite/
- /invite
- /invite/
categories:
- Hidden
tags:
layout: wedding
show_menu: false
show_header: false
sitemap:
  exclude: "yes"
---

{% capture mdcontent %}
![](/assets/article_images/wedding/JPB_7526.jpg)
We're excited to invite you to our wedding ceremony and intimate dinner reception with our closest family and friends.

We hope to see you there!

– Suzie & Andrew

Ceremony @ 3:00pm, Saturday July 21, 2018
---
3:00pm (doors open 2:30pm)
<br/>[Elevation Church](http://elevationwaterloo.org)
<br/>[22 Willow St, Waterloo, ON, N2J 1V5](https://goo.gl/maps/psQ9iyJDvCR2)
{% assign address="Elevation Church 22 Willow St, Waterloo, ON, N2J 1V5, Canada" %}
{% include map.html %}
<br/>
**RSVP:** No RSVP required for the ceremony.

**Additional Guests:** If you'd like to bring additional guests to the ceremony who know Andrew & Suzie, please feel welcome to do so.

Reception @ 6:00pm, Saturday July 21, 2018
---
6:00pm (doors open at 5:30pm)
<br/>[Paragon Banquet Hall](http://paragonbanquet.com/)
<br/>[15 International Village Drive, Cambridge, ON, N1R 7M5](https://goo.gl/maps/Xe9yyqJfJrL2)

{% assign address="Paragon Banquet Hall 15 International Village Drive, Cambridge, ON, N1R 7M5, Canada" %}
{% include map.html %}
<br/>
**RSVP:** We would appreciate if invited guests can RSVP before **May 1, 2018** so we can finish reception preparations. If you have any questions, [please email us](mailto:suzieplusandrew@gmail.com).
{% endcapture %}
{{ mdcontent | markdownify }}
<div class="cards-wrapper btn-read-more">
  <a href="{{ '/wedding/no' | prepend: site.baseurl }}" rel="nofollow">
    <span class="btn">
      <span class="item-caption">No, I Cannot Come <i class="fas fa-envelope"></i></span>
    </span>
    <!-- <i class="fas fa-chevron-right"></i> -->
  </a>
  <a href="{{ '/wedding/yes' | prepend: site.baseurl }}" rel="nofollow">
    Submit your RSVP
    <span class="btn">
      <span class="item-caption">Yes, I Can Come <i class="fas fa-envelope-open"></i></span>
    </span>
    <!-- <i class="fas fa-chevron-right"></i> -->
  </a>
</div>
<br/>
{% capture mdcontent %}
**Suggested Wear:** Semi-Formal.

**Gifts**: Your presence at our celebration is enough of a present. <br/>However, if you insist, in lieu of boxed gifts, we would be grateful for your support for our honeymoon/first home fund. To contribute, you can address cheques to "*Suzie Alexander*" **or** "*Andrew Paradi*".

<!-- **Gifts:** In lieu of boxed gifts, we would be grateful for your support to travel on our honeymoon and furnish our new home. To contribute, you can address cheques to "*Suzie Alexander*" **or** "*Andrew Paradi*", or visit *[paypal.me/SuziePlusAndrew](https://www.paypal.me/SuziePlusAndrew)*.
 -->
<!-- Gifts: In lieu of boxed gifts, we would be grateful for a contribution to our honeypot fund that will help us furnish our home and travel on our honeymoon. We can accept your generous contribution by cheque in three ways:

1. Cheques can be addressed to *Suzie Alexander* **or** *Andrew Paradi*.
2. Interac eTransfers can be made to *me@andrewparadi.com*.
3. Credit Cards, VISA Debit, and PayPal transfers can be accepted at *[paypal.me/SuziePlusAndrew](https://www.paypal.me/SuziePlusAndrew)*. -->

Frequently Asked Questions
---

- Will there be dance after dinner? Yes! We met salsa dancing so we're excited to boogie down with all of our special guests.

Transportation
---
We encourage all attending the evening reception to make responsible choices throughout the night and in their plans to get back home or to the hotel.

Consider downloading the [Uber app](https://www.uber.com/ride/) ahead of time, or bookmarking this page for easy access to the taxi companies below.

[**Waterloo Taxi**](http://www.waterlootaxi.ca)
- Phone: [+1 (519) 888-7777](tel:+1-519-888-7777)
- Website: [www.waterlootaxi.ca](http://www.waterlootaxi.ca)

[**United Taxi**](https://unitedtaxi.ca)
- Phone: [+1 (519) 888-9999](tel:+1-519-888-9999)
- Website: [www.unitedtaxi.ca](https://unitedtaxi.ca)

[**Golden Triangle Taxi**](http://www.goldentriangletaxi.com)
- Phone: [+1 (519) 740-2222](tel:+1-519-740-2222)
- Website: [www.goldentriangletaxi.com](http://www.goldentriangletaxi.com)

Hotel
---
If you're coming in from out of town, we have a special hotel rate at the [Hilton Garden Inn Kitchener/Cambridge](http://www.kitchenercambridge.hgi.com) for the nights of Friday, July 20, 2018 & Saturday, July 21, 2018.

The hotel is 2.8km from the Paragon Banquet Hall so you can enjoy your night and safely get back to the hotel with a short Uber or taxi ride.

Reserve the rate by adding special rate code "APW" or "Alexander Paradi Wedding" to your reservation.

**NOTE: All reservations must be made by June 20, 2018.**

[**Hilton Garden Inn Kitchener/Cambridge**](http://www.kitchenercambridge.hgi.com)
- [746 Old Hespeler Rd, Cambridge, ON, N3H 5L8](https://goo.gl/maps/yrD5H8R95Ur)
- Phone: +1 (519) 620-8936
- International: +1 (866) 373-6009
- Email: [yyzcm_rs@hilton.com](mailto:yyzcm_rs@hilton.com)
- Website: [www.kitchenercambridge.hgi.com](http://www.kitchenercambridge.hgi.com)

**Rates**
- $116.99/night : Double Queen Beds
- $116.99/night : King Standard
- $116.99/night : King with Pullout Sofa
- $136.99/night : Jacuzzi or Junior Suite

**All rates include**
- Complimentary full breakfast buffet featuring made to order eggs and signature waffles
- Complimentary high speed wireless internet access
- Indoor heated pool with whirlpool spa and fitness facility
- Complimentary parking
{% endcapture %}
{{ mdcontent | markdownify }}
<br/>
<br/>
<br/>
<br/>
<div class="cards-wrapper btn-read-more">
  <a href="mailto:suzieplusandrew@gmail.com">
    Questions?
    <span class="btn">
      <span class="item-caption">Email Us</span>
    </span>
    <i class="fas fa-chevron-right"></i>
  </a>
</div>
