<div class="bottom-teaser cf">
  <div class="isLeft">
    <h5 class="index-headline featured"><span>About</span></h5>
    <section class="author">
      <div class="author-image" style="background-image: url({% if site.author_image_s %}{{ site.author_image_s | prepend: site.baseurl }}{% else %}{{ site.author_image | prepend: site.baseurl }}{% endif %})">{{ site.author }}</div>
      <h4>{{ site.author }}</h4>
      <p class="bio">I build software platforms to support Square Cash developers, graduated from University of Waterloo, and <a href='{{site.bio_hack}}'>don't sleep at hackathons</a>.</p>
      <hr>
      <p class="published">Published <time datetime="{{ page.date | date: "%F %R" }}">{{ page.date | date: site.date_format }}</time></p>
    </section>
  </div>
  <div class="isRight">
    <h5 class="index-headline featured"><span>Connect</span></h5>
    <section class="connect">
      {% if site.work_cta %}
      <section class="poweredby"><strong>Looking for a kick-ass {{ site.work_title }} to start {{ site.work_term }}?</strong> Check <a href='{{site.resume}}' target="_blank" id="resume"><strong>my resume</strong></a>... then <a href="mailto:{{site.email}}" target="_blank" id="email"><strong>email!</strong></a></section>
      {% else %}
      <section class="poweredby">Like what you read? See more <strong><a href="{{ '/blog' | prepend: site.baseurl }}" id="blog">blog</a></strong> & <strong><a href="{{ '/projects' | prepend: site.baseurl }}" id="projects">projects</a></strong>.<br/>Want to chat? <a href="{{ '/contact' | prepend: site.baseurl }}" id="contact"><strong>Send me an email.</strong></a></section>
      {% endif %}
      <div class="inner">
        <hr>
        {% include social_no_caption.html %}
        <hr>
        <div style="width: 200px;">{% include copyright.html %}</div>
      </div>
    </section>
  </div>
</div>
