<div class="bottom-closer">
  <div class="background-closer-image" {%if site.cover %} style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{ site.cover | prepend: site.baseurl }})"{% endif %}>
    Image
  </div>
  <div class="inner">
    <h1 class="blog-title">{{ site.title }}</h1>
    <h2 class="blog-description">{{ site.description }}</h2>
    {% for item in site.header_menu %}
      {% if item.url %}
          <a class="btn" href="{{ item.url | prepend: site.baseurl }}" {% if item.desc %} title="{{ item.title }}"{% endif %}">
            <i class="fa fa-{{ item.icon }}"></i> <span class="item-caption">{% if item.desc %}{{ item.desc }}{% else %}{{ item.title }}{% endif %}</span>
          </a>
      {% endif %}
    {% endfor %}
    <!-- {% if page.categories contains "experience" %}
    <a href="/experience" class="btn">Experience</a>
    {% endif %}
    {% if page.categories contains "project" %}
    <a href="/projects" class="btn">Projects</a>
    {% endif %}
    {% if page.categories contains "blog" %}
    <a href="/blog" class="btn">Blog</a>
    {% endif %}
    <a href="/about" class="btn">About</a>
    <a href="/contact" class="btn">Contact Andrew</a> -->
  </div>
</div>
