<!-- header start -->

{% if site.logo and site.float_logo %}
  <div class="logo-readium">
    <a href="{{site.url}}{{site.baseurl}}" class="logo-readium"><span class="logo" style="background-image: url({{ site.logo | prepend: site.baseurl }})"></span></a>
  </div>
  <div class="menu-readium">
    {% if page.layout and site.show_menu_layouts contains page.layout %}
      {% assign desktop-show = 'desktop-show' %}
      {% assign desktop-icon = 'desktop-times-icon' %}
      {% assign mobile-icon = 'mobile-bars-icon' %}
    {% else %}
      {% assign desktop-icon = 'desktop-bars-icon' %}
      {% assign mobile-icon = 'mobile-bars-icon' %}
    {% endif %}
    <span class="menu-icon"><i class="menu-fa {{ desktop-icon }} {{ mobile-icon }}" aria-hidden="true"></i></span>
  </div>
  <ul class="menu {{ desktop-show }}">
  {% for social in site.social limit: 2 %}
    {% if social.url %}
        <li class="menu-item menu-item-desktop">
          <a href="{{ social.url }}" title="{{ social.title }}">{% if social.icon %} <i class="{{ social.icon }}" aria-hidden="true"></i> {% else %}{% endif %}</a>
        </li>
    {% endif %}
  {% endfor %}
  {% for link in site.header_menu reversed %}
    {% assign current = nil %}
    {% if page.url == link.url or page.layout == link.layout %}
      {% assign current = 'current' %}
    {% endif %}
    <li class="menu-item {{ current }} menu-item-desktop">
      <a class="{{ current }}" href="{{ link.url }}" title="{{ link.title }}">{% if link.icon and site.menu_icon %}<i class="{{ link.icon }}" aria-hidden="true"></i>{% else %}{% endif %} {{ link.title }}</a>
    </li>
  {% endfor %}
  {% for link in site.header_menu %}
    {% assign current = nil %}
    {% if page.url == link.url or page.layout == link.layout %}
      {% assign current = 'current' %}
    {% endif %}
    <li class="menu-item {{ current }} menu-item-mobile">
      <a class="{{ current }}" href="{{ link.url }}" title="{{ link.title }}">{% if link.icon and site.menu_icon %}<i class="{{ link.icon }}" aria-hidden="true"></i>{% else %}{% endif %} {{ link.title }}</a>
    </li>
  {% endfor %}
  {% for social in site.social %}
    {% if social.url %}
        <li class="menu-item menu-item-mobile">
          <a href="{{ social.url }}" title="{{ social.title }}">{% if social.icon %} <i class="{{ social.icon }}" aria-hidden="true"></i> {% else %}{% endif %}</a>
        </li>
    {% endif %}
  {% endfor %}
  {% for link in site.footer_menu %}
    {% if link.url %}
    {% assign current = nil %}
    {% if page.url == link.url or page.layout == link.layout %}
      {% assign current = 'current' %}
    {% endif %}
        <li class="menu-item menu-item-mobile">
          <a class="{{ current }}" href="{{ link.url }}" title="{{ link.title }}">{% if link.icon and site.menu_icon %} <i class="{{ link.icon }}" aria-hidden="true"></i> {% else %}{% endif %} {{ link.title }}</a>
        </li>
    {% endif %}
  {% endfor %}
  </ul>
{% endif %}

<!-- header end -->
