<head>
  {% if site.enforce_ssl %}
  <!--
    redirect users to the https version of the website.
    but: only check when on the production domain, as set in _config.yml.
   -->
  <script type="text/javascript">
    var enforce = "{{ site.enforce_ssl }}";
    if ((enforce == window.location.host) && (window.location.protocol != "https:"))
      window.location = window.location.toString().replace(/^http:/, "https:");
  </script>
  {% endif %}
  
  {% if page.categories contains "Hidden" %}
  <meta name="robots" content="noindex, nofollow">
  <meta name="googlebot" content="noindex">
  {% endif %}

  <meta charset="utf-8">
  <!-- (1) Optimize for mobile versions: http://goo.gl/EOpFl -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- (1) force latest IE rendering engine: bit.ly/1c8EiC9 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{% if page.seo_title %}{{ page.seo_title }}{% elsif page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 200 }}{% else %}{{ site.plain_description }}{% endif %}" />

  <meta name="HandheldFriendly" content="True" />
  <meta name="MobileOptimized" content="320" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  {% if site.twitter_handle %}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="{{ site.twitter_handle }}" />
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta name="twitter:image" content="{{ site.logo | prepend: site.baseurl | prepend: site.url }}" />
    {% if page.excerpt %}
    <meta name="twitter:description"  content="{{ page.excerpt | strip_html | strip_newlines | truncate: 200 }}" />
    {% elsif site.plain_description %}
    <meta name="twitter:description" content="{{ site.plain_description | strip_html | strip_newlines | truncate: 200 }}" />
    {% endif %}
  {% endif %}

  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"/>
  {% if page.excerpt %}
  <meta property="og:description" content="{{ page.excerpt | strip_html | strip_newlines | truncate: 200 }}" />
  {% elsif site.plain_description %}
  <meta property="og:description" content="{{ site.plain_description | strip_html | strip_newlines | truncate: 200 }}" />
  {% endif %}
  <meta property="og:image" content="{% if page.image %}{{ page.image | prepend: site.baseurl | prepend: site.url }}{% else %}{{ site.logo | prepend: site.baseurl | prepend: site.url }}{% endif %}" />
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" >
  <meta property="og:type" content="blog" />
  {% if page.date %}<meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">{% endif %}

  {% if site.google_webmaster_tools %}
  {% include google_webmaster_tools.html %}
  {% endif %}

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"/>

  <link rel="stylesheet" type="text/css" media="screen" href="{{ "/css/main.css"  | prepend: site.baseurl  }}"/>

  <script defer src="https://use.fontawesome.com/releases/v5.0.3/js/all.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.3/js/v4-shims.js"></script>
</head>
