<!-- header start -->

{% if site.logo and site.float_logo %}
  <div class="logo-readium">
    <a href="{{site.url}}{{site.baseurl}}" class="logo-readium"><span class="logo" style="background-image: url({{ site.logo | prepend: site.baseurl }})"></span></a>
  </div>
  <div class="menu-readium">
    {% if page.layout and (page.layout == 'default' or page.layout == 'page') %}
      {% assign desktop-show = 'desktop-show' %}
      {% assign desktop-icon = 'desktop-times-icon' %}
      {% assign mobile-icon = 'mobile-bars-icon' %}
    {% else %}
      {% assign desktop-icon = 'desktop-bars-icon' %}
      {% assign mobile-icon = 'mobile-bars-icon' %}
    {% endif %}
    <span class="menu-icon"><i class="menu-fa {{ desktop-icon }} {{ mobile-icon }}" aria-hidden="true"></i></span>
  </div>
  <ul class="menu {{ desktop-show }}">
  {% for link in site.header_menu reversed %}
    {% assign current = nil %}
    {% if page.url == link.url or page.layout == link.layout %}
      {% assign current = 'current' %}
    {% endif %}
    <li class="menu-item {{ current }}">
      <a class="{{ current }}" href="{{ link.url }}">{% if link.icon %}<i class="fa fa-{{ link.icon }}" aria-hidden="true"></i>{% else %}{% endif %} {{ link.title }}</a>
    </li>
  {% endfor %}
{% endif %}
</ul>

<!-- header end -->
