<!-- Javascript Includes -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.min.js" ></script>
<script type="text/javascript" src="{{ "/assets/js/min/menu.min.js" | prepend: site.baseurl  }}" async></script>
<script type="text/javascript" src="{{ "/assets/js/min/scroll.min.js" | prepend: site.baseurl  }}" async></script>
<script type="text/javascript" src="{{ "/assets/js/min/jquery.fitvids-ck.min.js" | prepend: site.baseurl  }}" async></script>
<script type="text/javascript" src="{{ "/assets/js/min/readingTime.min-ck.js" | prepend: site.baseurl  }}" async></script>
<script type="text/javascript" src="{{ "/assets/js/min/index-ck.js" | prepend: site.baseurl  }}" async></script>
<script type="text/javascript" src="{{ "/assets/js/min/trianglify.min.js" | prepend: site.baseurl  }}" async></script>
<script type="text/javascript" src="{{ "/assets/js/min/pattern.min.js" | prepend: site.baseurl  }}" async></script>
{% if site.google_analytics %}
{% include google_analytics.html %}
{% endif %}
{% if site.google_webmaster_tools %}
{% include google_webmaster_tools.html %}
{% endif %}
