  <!-- Javascript Includes -->
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="{{ "/assets/js/jquery.fitvids.js" | prepend: site.baseurl  }}"></script>
    <script type="text/javascript" src="{{ "/assets/js/index.js" | prepend: site.baseurl  }}"></script>
    <script type="text/javascript" src="{{ "/assets/js/readingTime.min.js" | prepend: site.baseurl  }}"></script>
    <script>
    (function ($) {
      "use strict";
      $(document).ready(function(){
    
        var $window = $(window),
        $image = $('.post-image-image, .teaserimage-image');
        
          $window.on('scroll', function() {
            var top = $window.scrollTop();
    
            if (top < 0 || top > 1500) { return; }
            $image
              .css('transform', 'translate3d(0px, '+top/3+'px, 0px)')
              .css('opacity', 1-Math.max(top/700, 0));
          });
          $window.trigger('scroll');
    
          var height = $('.article-image').height();
          $('.post-content').css('padding-top', height + 'px');
    
          $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'')
             && location.hostname == this.hostname) {
              var target = $(this.hash);
              target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
              if (target.length) {
                $('html,body').animate({ scrollTop: target.offset().top }, 500);
                return false;
              }
            }
          });
    
      });
    }(jQuery));
    </script>

    <script src="https://blitzen.com/scripts/blitzenForm.js" type="text/javascript"></script>
    <iframe src="https://andrew.blitzen.com/form/andrewnotes-Pop-Up-1" id="627d9369b0d9ba4c33e228a8a65d91" onload="resizeCrossDomainIframe('627d9369b0d9ba4c33e228a8a65d91', 'https://andrew.blitzen.com');" width="100%" style="border: none; display: none;" resize="true"></iframe>
    <!-- !Javascript Includes -->

