---
layout: pattern
---

<header class="blog-header">
  {% include logo_header.html %}
  <div class="archive-header blog-subdescription">{{ content }}</div>
</header>
<main role="main">

  {% case page.type %}
    {% when "category" %}
      {% assign sorted_items = site.categories | sort %}
    {% when "tag" %}
      {% assign sorted_items = site.tags | sort %}
    {% when "lyrics" %}
      {% assign sorted_items = site.songs | sort %}
    {% when "song" %}
      {% assign sorted_items = site.songs | sort %}
  {% endcase %}

  <div class="id" id="top"></div>
  <div class="cards-wrapper">
    <h2 class="cards-header">{{ page.title }}</h2>
    <div class="cards-cloud">
      {% for item in sorted_items %}
        <a class="btn" href="#{{ item.title | slugify }}">
          <span class="item-caption">{{ item.title }}</span>
        </a>
      {% endfor %}
    </div>
  </div>

  <div class="archive-content">
  {% for item in sorted_items %}


  {% endfor %}
  </div>



  <span class="id" id="{{ item.title }}">&nbsp;</span>
  <span class="id" id="{{ item.title | slugify }}">&nbsp;</span>
  <div class="cards-wrapper">
    <h2 class="cards-header"><a class="btn" href="#top" title="all-categories"><span class="item-caption">Top <i class="fas fa-chevron-up"></i></span></a> {{ item.title }}</h2>
      {% case page.type %}
        {% when "lyrics" %}
          <div class="archive-text">
            {{ item.lyrics | newline_to_br }}
          </div>
        {% when "song" %}
          {{ item.content | markdownify }}
        {% else %}
          <div class="archive-text">
            {{ item.content | markdownify }}
          </div>
      {% endcase %}
    </div>
  </div>
  {% endfor %}

</main>
