---
layout: pattern_header
---

<main class="content" role="main">
  <article class="post">
    <meta itemprop="keywords" content="{{ page.tags | join: ',' }}" />
  <meta itemprop="description" content="{{ content | strip_html | truncatewords: 40 }}" />
    <section class="post-content" itemprop="articleBody">
      <div class="noarticleimage">
        <div class="post-meta">
          <h1 class="post-title">{{ page.title }}</h1>
          {% if page.image %}
          <img src="{{ page.image }}">
          {% endif %}
          {% if page.show_meta %}
          <div class="cf post-meta-text">
            <div class="author-image" style="background-image: url({% if site.author_image_s %}{{ site.author_image_s | prepend: site.baseurl }}{% else %}{{ site.author_image | prepend: site.baseurl }}{% endif %})">Blog Logo</div>
            <h4 class="author-name" itemprop="author" itemscope itemtype="http://schema.org/Person">{{ page.author }}</h4>
          </div>
          {% endif %}
        </div>
      </div>
      {{content}}
      <div style="text-align:center">
        <a href="#topform" class="topform"><p>Continue to form <i class="fa fa-angle-down"></i></p></a>
        <a href="{{ page.form_url }}"><p><strong>Are you on mobile?</strong> Form not working below? Click here ></p></a>
      </div>
    </section>
  </article>
</main>
<iframe id="topform" src="{{ page.form_url }}" width=100% height="{{ page.form_height }}" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
<div style="text-align:center">
  <br/>
  <a href="{{ page.form_url }}" style="color: black;"><p><strong>Are you on mobile?</strong> Form not working above? Click here ></p></a>
  <a href="#topform" class="topform" style="color: black;"><p>Back to top of form <i class="fa fa-angle-up"></i></p></a>
  <br/>
</div>
