---
layout: default
---
<main class="content" role="main">
  <article class="post">
    <meta itemprop="keywords" content="{{ page.tags | join: ',' }}" />
  <meta itemprop="description" content="{{ content | strip_html | truncatewords: 40 }}" />
  <time class="published" itemprop="datePublished" datetime="{{ page.date | date: '%Y-%m-%d' }}"> {{ page.date | date: site.date_format }} </time>
    {% if page.image %}
    <div class="article-image">
      <div class="post-image-image" style="background-image: url({% if page.image %}{{ page.image | prepend: site.baseurl }}{% endif %})">
        Article Image
      </div>
      <div class="post-image-image2" style="background-image: url({% if page.image2 %}{{ page.image2 | prepend: site.baseurl }}{% else %}{{ page.image | prepend: site.baseurl }}{% endif %})">
        Article Image
      </div>
      <div class="post-meta">
        <h1 class="post-title" itemprop="name">{{ page.title }}</h1>
        <div class="cf post-meta-text">
          <div class="author-image" style="background-image: url({% if site.author_image_s %}{{ site.author_image_s | prepend: site.baseurl }}{% else %}{{ site.author_image | prepend: site.baseurl }}{% endif %})">Author Image</div>
          <h4 class="author-name" itemprop="author" itemscope itemtype="http://schema.org/Person">{{ site.author }}</h4>
        </div>
        <div style="text-align:center">
          <a href="#topofpage" class="topofpage"><i class="fa fa-angle-down"></i></a>
        </div>
      </div>
    </div>
    {% else %}
    <div class="noarticleimage">
      <div class="post-meta">
        <h1 class="post-title">{{ page.title }}</h1>
        {% if page.show_meta %}
        <div class="cf post-meta-text">
          <div class="author-image" style="background-image: url({% if site.author_image_s %}{{ site.author_image_s | prepend: site.baseurl }}{% else %}{{ site.author_image | prepend: site.baseurl }}{% endif %})">Blog Logo</div>
          <h4 class="author-name" itemprop="author" itemscope itemtype="http://schema.org/Person">{{ page.author }}</h4>
        </div>
        {% endif %}
      </div>
    </div>
    {% endif %}
    <section class="post-content" itemprop="articleBody">
      <a name="topofpage"></a>
      {{content}}
    </section>
  </article>
</main>
